.header {
    @apply w-dvw h-[80px] border-[unset] relative;
    border-bottom: 1px solid rgb(217, 216, 216);
    .wrapper {
      @apply flex justify-between px-10 border-none w-[80%] m-auto items-center h-full;
      .logo {
      }
      .nav {
        @apply flex gap-18 absolute top-1/2 left-1/2 -translate-1/2 text-[#353434];
        .item {
          @apply text-sm font-normal cursor-pointer;
        }
      }

      .account {
        @apply flex gap-5 items-center;

        div {
          @apply w-[50px] h-[50px] border-dashed border rounded-full text-center text-sm flex items-center justify-center;
        }
      }

      button {
        @apply transition-all px-8 text-[white] h-10 items-center !font-semibold rounded-[20px] bg-[#333];

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          transform: translateY(-2px);
          &:active {
            box-shadow: none;
            transform: translateY(0);
          }
        }
      }
    }
  }