.login-page {
  @apply w-dvw h-dvh p-5 bg-[url('/img/login/bg.jpg')] bg-no-repeat bg-center bg-cover;
  .login-container {
    @apply fixed -translate-x-2/4 -translate-y-2/4 bg-[#cfcfcf] overflow-hidden max-w-fit md:max-w-[800px] w-full flex min-h-fit justify-between rounded-md md:rounded-2xl left-2/4 top-[40%];
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .box-image {
      @apply p-[30px] py-[40px] text-center md:flex flex-col justify-between hidden relative;
      .back-to-home {
        @apply border text-[#333] font-semibold transition-all border-[#666666] px-2 py-1 rounded-full flex items-center m-auto w-fit gap-1 text-sm relative cursor-pointer;
        .pi-arrow-left {
          @apply text-xs;
        }

        &:hover {
          @apply bg-[#333] text-white;
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          transform: translateY(-2px);
          &:active {
            box-shadow: none;
            transform: translateY(0);
          }
        }
      }

      img {
        @apply w-[350px] h-[380px];
      }
      button {
        @apply hidden;
      }
    }

    .text-register {
      @apply text-xs text-[#333] text-center;
      span {
        @apply transition-all !font-bold cursor-pointer relative;
        &:after {
          @apply absolute w-full h-[2px] bottom-[-1px] left-0 border-b-[1px];
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          content: '';
        }
        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }

    .box-form {
      @apply w-[46%] min-w-[340px] bg-white text-center !m-2 p-[30px] md:p-[50px] md:py-[40px] rounded-xl;
      .title {
        @apply text-[24px] md:text-[28px] !font-bold w-full whitespace-nowrap;
      }
      .des {
        @apply text-xs text-[#575656] font-medium whitespace-nowrap !mb-4 md:!mb-[30px];
      }

      form {
        @apply w-full flex flex-col gap-4 md:gap-6 justify-between h-fit;

        .form-inputs {
          @apply w-full flex flex-col h-auto gap-8 md:gap-5;

          .p-formfield {
            @apply h-[40px] md:h-[55px] text-start;

            .p-floatlabel {
              label {
                @apply text-xs md:text-sm text-[#7f7f7f] left-0;
              }
            }
          }

          .forgot-password {
            @apply flex text-xs justify-between !mt-2 md:!mt-0;

            .text {
              @apply cursor-pointer underline text-[#7f7f7f];

              &:hover {
                @apply text-black;
              }
            }
          }
        }

        .p-password {
          @apply !block border-[unset] border-b-[2px];

          input {
            @apply border-none;
          }

          svg {
            @apply top-[20%];
          }
          &.error {
            @apply border-b-red-600;
          }
        }

        input {
          @apply w-full p-[5px] border-[unset] rounded-none border-b-[2px] border-b-[#333] outline-none shadow-[unset] text-sm;
          color: var(--p-inputtext-color);
          background: var(--p-inputtext-background);

          &::placeholder {
            @apply opacity-80 font-normal text-sm;
          }

          &.error {
            @apply border-b-red-600;
          }
        }
      }

      .btn-submit {
        @apply w-full transition-all text-[white] h-10 items-center !font-semibold rounded-[20px] bg-[#333];

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          transform: translateY(-3px);
          &:active {
            box-shadow: none;
            transform: translateY(0);
          }
        }
      }

      .socials-login {
        @apply text-center !mt-5 md:!mt-10;

        .line {
          @apply relative text-[#575656] h-5;

          hr {
            @apply absolute w-full text-[#d8d0d0] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4;
          }

          span {
            @apply absolute text-[#7f7f7f] -translate-x-2/4 w-2/5 bg-[white] font-normal text-xs left-2/4 top-0;
          }
        }

        .socials {
          @apply transition-all flex items-center h-fit w-full gap-7 md:gap-10 justify-center mx-auto !mt-4 md:!mt-8;
          .p-image {
            @apply rounded-full transition-all w-[30px] h-[30px] md:w-[40px] md:h-[40px] block cursor-pointer;

            &.google {
              @apply w-[26px] h-[26px] md:!w-[35px] md:!h-[35px];
            }

            &.apple {
              @apply w-[25px] h-[25px] md:!w-[34px] md:!h-[34px];
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
      .text-register {
        @apply mt-8;
      }
    }
  }
}

.p-password-overlay {
  @apply !hidden;
}
